// Author: W3layouts
// Author URL: http://w3layouts.com
// License: Creative Commons Attribution 3.0 Unported
// License URL: http://creativecommons.org/licenses/by/3.0/

// Style Colors
$white:             #fff;
$white-light:       #ccc;
$white-darker:      #eee;
$gray:              #b9b9b9;
$dirt :             #aa7a3d;
$dark-orange:       #a3793d;
$light-black:       #1f1200;
$brown:             #4d2e1c;
$light-brown:       #664617;
$pure-brown:        #8f5b0f;
$lighter-brown:     #885a16;
$dirt-2:            #a5793a;
$dirt-3:            #ad6a0a;

// Slider colors
$brown-slider:      #6d4b4b;
$slider-dark-brown: #3f271a;
