// Color

$white:           #fff;
$white-light:     #ccc;
$white-darker:    #eee;
$gray:            #b9b9b9;
$dirt :           #aa7a3d;
$dark-orange:     #a3793d;
$light-black:     #1f1200;
$brown:           #4d2e1c;
$light-brown:     #664617;
$pure-brown:      #8f5b0f;
$lighter-brown:   #885a16;
$dirt-2:          #a5793a;
$dirt-3:          #ad6a0a;
