.section {
  clear: both;
  margin: 0;
  padding: 0;
}

.group:before,
.group:after {
  content: '';
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child {
  margin-left: 0;
}

.span-2-of-3 {
  padding: 1.5%;
  width: 63.1%;
}

.span-1-of-3 {
  padding: 1.5%;
  width: 29.2%;
}

.contact-form {
  margin-top: 15px;
  padding-bottom: 30px;
  position: relative;
  
  // .contact-form div
  div {
    padding: 3px 0;
  }

  // .contact-form span
  span {
    color: #8f5b0f;
    display: block;
    font-family: verdana, arial, helvetica, helve, sans-serif;
    font-size: .8125em;
    padding-bottom: 5px;
  }

  // .contact-form textarea
  textarea {
    height: 120px;
    resize: none;
  }
}

.contact-form input[type="text"],
.contact-form textarea {
  padding: 8px;
  display: block;
  width: 95%;
  background: $light-black;
  border: 1px solid rgba(255, 255, 255, 0);
  outline: none;
  color: $white;
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-appearance: none;
  transition: border-color .3s;
  -o-transition: border-color .3s;
  -ms-transition: border-color .3s;
  -moz-transition: border-color .3s;
  -webkit-transition: border-color .3s;
}

.contact-form input[type="text"]:focus,
.contact-form textarea:focus {
  border: 1px solid rgba(170, 122, 61, .34);
}

.contact-form input[type="submit"] {
  font-size: 1em;
  cursor: pointer;
  text-transform: uppercase;
  color: $white;
  padding: 10px 20px;
  border: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-appearance: none;
  transition: all .5s;
  -webkit-transition: all .5s;
  background-color: #AD6A0A;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-appearance: none;
  position: absolute;
  right: 0;

  // .contact-form input[type="submit"]:hover
  &:hover {
    padding: 10px 35px;
    color: #ad6a0a;
    background: $white;
  }
}

.company-address {
  padding-top: 5px;

  // .company-address h5
  h5 {
    font-size: .85em;
    color: $white;
    font-weight: bold;
  }
}

.company-address p {
  font-size: .8125em;
  color: #664617;
  padding: 5px 0;
  font-family: verdana, arial, helvetica, helve, sans-serif;
}

.company-address p span {
  text-decoration: underline;
  color: #885a16;
  cursor: pointer;
}

.company-address p span:hover {
  color: $white;
}

.map {
  margin: 15px 0;
}
