.introduction {
  padding: 30px 0;
  background: rgba(39, 22, 11, 0.91);
  clear: both;
}

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

.group:before,
.group:after {
  content: '';
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

.cont {
  display: block;
  float: left;
  margin: 1% 0 1% 0;
}

.rsidebar {
  display: block;
  float: left;
  margin: 1% 1.6% 1% 0;
}

.introduction-desc {
  width: 63.1%;
  padding: 1.5%;
}

.introduction-img {
  width: 29.2%;
  padding: 0 1.5%;
}

.introduction-img img {
  border-radius: 15em;
  -webkit-border-radius: 15em;
  -moz-border-radius: 15em;
  -o-border-radius: 15em;
  border: 5px solid #4D2E1C;
}

.introduction h1 {
  font-family: 'caviar_dreamsregular';
  font-size: 4.5em;
  color: $white;
}

.introduction h1 span {
  color: #a5793a;
}

.introduction p {
  font-family: 'caviar_dreamsregular';
  font-size: 1.5em;
  color: #eee;
  padding-top: 10px;
  line-height: 1.6em;
}
