.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child {
  margin-left: 0;
}

.span_2_of_3 {
  width: 63.1%;
  padding: 1.5%;
}

.span_1_of_3 {
  width: 29.2%;
  padding: 1.5%;
}

.contact-form {
  position: relative;
  padding-bottom: 30px;
  margin-top: 15px;
}

.contact-form div {
  padding: 3px 0;
}

.contact-form span {
  display: block;
  font-size: 0.8125em;
  color: #8F5B0F;
  padding-bottom: 5px;
  font-family: verdana, arial, helvetica, helve, sans-serif;
}

.contact-form input[type="text"], .contact-form textarea {
  padding: 8px;
  display: block;
  width: 95%;
  background: #1F1200;
  border: 1px solid rgba(255, 255, 255, 0);
  outline: none;
  color: #FFF;
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-appearance: none;
  transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
}

.contact-form textarea {
  resize: none;
  height: 120px;
}

.contact-form input[type="text"]:focus, .contact-form textarea:focus {
  border: 1px solid rgba(170, 122, 61, 0.34);
}

.contact-form input[type="submit"] {
  font-size: 1em;
  cursor: pointer;
  text-transform: uppercase;
  color: #FFF;
  padding: 10px 20px;
  border: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-appearance: none;
  transition: all .5s;
  -webkit-transition: all .5s;
  background-color: #AD6A0A;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-appearance: none;
  position: absolute;
  right: 0;
}

.contact-form input[type="submit"]:hover {
  padding: 10px 35px;
  color: #AD6A0A;
  background: #FFF;
}

.company_address {
  padding-top: 5px;
}

.company_address h5 {
  font-size: .85em;
  color: #FFF;
  font-weight: bold;
}

.company_address p {
  font-size: 0.8125em;
  color: #664617;
  padding: 5px 0;
  font-family: verdana, arial, helvetica, helve, sans-serif;
}

.company_address p span {
  text-decoration: underline;
  color: #885A16;
  cursor: pointer;
}

.company_address p span:hover {
  color: #FFF;
}

.map {
  margin: 15px 0;
}