@font-face {
  font-family: 'caviar_dreamsregular';
  src: url('../fonts/CaviarDreams-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'fontleroybrownregular';
  src: url('../fonts/FontleroyBrown-webfont.ttf') format('truetype');
}