// Author: W3layouts
// Author URL: http://w3layouts.com
// License: Creative Commons Attribution 3.0 Unported
// License URL: http://creativecommons.org/licenses/by/3.0/

@font-face {
  font-family: 'caviar_dreamsregular';
  src: url('../fonts/CaviarDreams-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'fontleroybrownregular';
  src: url('../fonts/FontleroyBrown-webfont.ttf') format('truetype');
}
