// Author: W3layouts
// Author URL: http://w3layouts.com
// License: Creative Commons Attribution 3.0 Unported
// License URL: http://creativecommons.org/licenses/by/3.0/

.footer {
  background: url('../images/bg.png');
  -moz-box-shadow: inset 0 0 5px rgba(56, 40, 15, .6);
  -o-box-shadow: inset 0 0 5px rgba(56, 40, 15, .6);
  -webkit-box-shadow: inset 0 0 5px rgba(56, 40, 15, .6);
  box-shadow: inset 0 0 5px rgba(56, 40, 15, .6);
  clear: both;
  padding: 30px 0;
}

.copy-right {
  text-align: right;

  // .copy-right h4
  h4 {
    color: $white;
    font-family: 'caviar_dreamsregular';
    font-size: .85em;

    // .copy-right h4 a
    a {
      color: $white-darker;
      text-decoration: underline;
      -moz-transition: all 300ms !important;
      -webkit-transition: all 300ms !important;
      transition: all 300ms !important;

      // .copy-right h4 a:hover
      &:hover {
        color: $white;
        text-decoration: none;
      }
    }

    // .copy-right h4 span
    span {
      color: $dirt;
      font-size: 3em;
      text-transform: uppercase;
      vertical-align: middle;
    }
  }
}
