// Author: W3layouts
// Author URL: http://w3layouts.com
// License: Creative Commons Attribution 3.0 Unported
// License URL: http://creativecommons.org/licenses/by/3.0/

.txt-rt {
  text-align: right;
}

// text align right
.txt-lt {
  text-align: left;
}

// text align left
.txt-center {
  text-align: center;
}

// text align center
.float-rt {
  float: right;
}
